.container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  height: 100vh;
}

.description-container {
  grid-template-columns: 0.8fr 0.2fr;

}

.table-container {
  overflow-y: scroll;
  height: 100%;
}


.header {
  display: grid;
  grid-template-columns: 120px 0.50fr 100px 0.35fr 0.15fr;
  border-bottom: 0.2px solid #A9A9A9;
  border-top: 0.2px solid #A9A9A9;
  padding: 8px;

  p {
    color: #A9A9A9;
    display: flex;
  }

  p:first-child {
    justify-content: center;
  }
}


.details-container {
  border-left: 1px solid #555555;
  overflow-y: auto !important;
}


.add-description {
  margin: 24px 12px;
  background: #D3D3D3;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: #555555;
  }


  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    color: #002B42;
  }
}

.details-data {
  margin-top: 16px;
  margin-left: 8px;

  p {
    color: #002B42;
    font-size: 0.75rem;
    margin-bottom: 12px;
  }
}
