<mat-progress-bar class="loading-bar" *ngIf="showLoading" color="primary" mode="indeterminate"></mat-progress-bar>

<div class="flex container align-center flex-between">
  <div class="flex">
    <div class="buttons margin-left-xl" *ngFor="let tab of tabs">
      <button mat-button class="button" (click)="changeRoute(tab)"
        [ngClass]="{'selectedButton' : selectedButtonIndex === tab.index}">
        <div class="flex align-center">
          <mat-icon>{{tab.icon}}</mat-icon>
          <p class="mat-h5 margin-remove-bottom margin-left-xs">{{tab.name}}</p>
        </div>
      </button>
    </div>
  </div>
  <div class="search-container margin-right-s">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="search-field" #searchfield>
        <mat-label>Search</mat-label>

        <input matInput placeholder="" formControlName="search" autocomplete="off" />
        <button matSuffix type="submit">
          <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
