.container {
  background: #efefef;
  height: 64px;
}

.button {
  margin: 0 12px;
  padding: 8px 15px;

  p {
    color: #555555;
  }

  mat-icon {
    color: #555555;
  }
}


.selectedButton {
  background: #002B42;

  mat-icon {
    color: white;
  }

  p {
    color: white;
  }
}


.search-container {
  justify-content: center;
  padding: 0 !important;

  form {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

.search-field {
  font-family: "Montserrat", "Roboto";
  height: auto;
  width: 400px;

  button {
    border: none;
    background: none;
    color: white;
    // outline: none;
  }

  mat-icon {
    font-size: 24px;
    color: black;
  }

  @media only screen and (max-width: 600px) {
    width: 59%;
  }

}
